<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <!-- The paginator for post list on HomgPage. -->
  <nav th:fragment="paginator(path,posts)" aria-label="Page Navigation">
    <ul class="pagination align-items-center mt-4 mb-0">
      <!-- left arrow -->
      <li th:class="page-item + ${posts.hasPrevious ? '' : ' disabled' }">
        <a
          aria-label="previous-page"
          class="page-link"
          th:href="${posts.prevUrl != null ? posts.prevUrl : '#' }"
        >
          <i class="fas fa-angle-left"></i>
        </a>
      </li>

      <!-- page numbers -->
      <th:block th:if="${posts.page > 3}">
        <li class="page-item">
          <a class="page-link" th:href="${path+'/page/1'}">1</a>
        </li>
        <li class="page-item disabled">
          <span class="page-link" th:if="${posts.page != 4}">…</span>
        </li>
      </th:block>

      <th:block th:each="index:${#numbers.sequence(posts.page-2,posts.page+2)}">
        <li
          th:class="page-item + ${posts.page == index ? ' active': ''}"
          th:if="${index > 0 && index <= posts.totalPages}"
        >
          <a class="page-link" th:href="${path+'/page/'+index}">[[${index}]]</a>
        </li>
      </th:block>

      <th:block th:if="${posts.totalPages - posts.page > 2}">
        <li class="page-item disabled">
          <span class="page-link" th:if="${posts.totalPages - posts.page != 3}"
            >…</span
          >
        </li>
        <li th:class="page-item + ${posts.page == index ? ' active': ''}">
          <a class="page-link" th:href="${path+'/page/'+posts.totalPages}"
            >[[${posts.totalPages}]]</a
          >
        </li>
      </th:block>

      <!-- right arrow -->
      <li th:class="page-item + ${posts.hasNext ? '' : ' disabled' }">
        <a
          aria-label="next-page"
          class="page-link"
          th:href="${posts.hasNext ? posts.nextUrl : '#' }"
        >
          <i class="fas fa-angle-right"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!--.pagination-->
</html>
