<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="relatedPosts">
    <!-- 阅读建议 -->
    <aside id="related-posts" aria-labelledby="related-label">
      <h3 class="mb-4">[[#{related_posts.further_reading}]]</h3>
      <div th:if="${not #lists.isEmpty(post.categories)}">
        <nav
          class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mb-4"
          th:with="recommendPosts = ${postFinder.listByCategory(1, 3, post.categories[0].metadata.name)}"
        >
          <article
            class="col"
            th:each="recommendPost : ${recommendPosts.items}"
          >
            <a
              th:href="@{${recommendPost.status.permalink}}"
              class="post-preview card h-100"
            >
              <div class="card-body">
                <time
                  class="small"
                  style="color: #a4a4a4"
                  th:text="${#dates.format(recommendPost.spec.publishTime,'MMM d, yyyy')}"
                ></time>
                <h4
                  class="pt-0 my-2"
                  th:text="${recommendPost.spec.title}"
                ></h4>
                <div class="text-muted small">
                  <p th:text="${recommendPost.status.excerpt}"></p>
                </div>
              </div>
            </a>
          </article>
        </nav>
      </div>
    </aside>

    <!-- 文章上下页 -->
    <nav
      class="post-navigation d-flex justify-content-between pt-0"
      aria-label="Post Navigation"
      th:with="postCursor = ${postFinder.cursor(post.metadata.name)}"
    >
      <a
        class="btn btn-outline-primary"
        th:href="${postCursor.next.status.permalink == null ? '#' : postCursor.next.status.permalink}"
        th:classappend="${postCursor.next.status.permalink == null} ? disabled"
      >
        <span style="color: #a4a4a4; font-size: 8px">[[#{related_posts.older}]]</span>
        <p th:text="${postCursor.next.spec.title}"></p>
      </a>
      <a
        class="btn btn-outline-primary"
        th:href="${postCursor.previous.status.permalink == null ? '#' : postCursor.previous.status.permalink}"
        th:classappend="${postCursor.previous.status.permalink == null} ? disabled"
      >
        <span style="color: #a4a4a4; font-size: 8px">[[#{related_posts.newer}]]</span>
        <p th:text="${postCursor.previous.spec.title}"></p>
      </a>
    </nav>
  </th:block>
</html>
