<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <footer
    th:fragment="footer()"
    aria-label="Site Info"
    class="d-flex flex-column justify-content-center text-muted flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3"
  >
    <p>
      [['©' + ${#dates.format(new java.util.Date().getTime(), 'yyyy')}]]
      <a th:href="${site.url}">[[${site.title}]]</a>.
      <!-- copyright-->
      <span
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        th:title="${theme.config.basics.footerCopyrightAgreement}"
      >
        [[#{footer.right}]]
      </span>
    </p>
    <p>
      [[#{footer.using}]]
      <a href="https://halo.run" target="_blank" rel="noopener">Halo</a>
      [[#{footer.theme}]]
      <a
        href="https://github.com/airbozh/halo-theme-chirpy"
        target="_blank"
        rel="noopener"
        >Chirpy</a
      >
    </p>
  </footer>
</html>
