<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <footer th:fragment="footer()">
    <div class="container px-lg-4">
      <div
        class=" d-flex justify-content-center text-muted flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3 break-words"
      >
        <halo:footer />
        <span class="ml-2">
          <a
            href="https://beian.miit.gov.cn"
            target="_blank"
            rel="noopener"
            >[[${theme.config.basics.icp_text}]]</a
          >
        </span>
        <span>
          Using the
          <a href="https://halo.run" target="_blank" rel="noopener">Halo</a>
          theme
          <a
            href="https://github.com/airbozh/halo-theme-chirpy"
            target="_blank"
            rel="noopener"
            >Chirpy</a
          >
        </span>
        <span>
          [['©' + ${#dates.format(new java.util.Date().getTime(), 'yyyy')}]]
          <a th:href="${site.url}">[[${site.title}]]</a>.
          <!-- copyright-->
          <span
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            th:title="${theme.config.basics.footerCopyrightAgreement}"
          >
            Some rights reserved.
          </span>
        </span>
      </div>
    </div>
  </footer>
</html>

<style>
  p::before {
    content: none;
  }
</style>