<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <head th:fragment="head(title)">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta
      content="#f7f7f7"
      media="(prefers-color-scheme: light)"
      name="theme-color"
    />
    <meta
      content="#1b1b1e"
      media="(prefers-color-scheme: dark)"
      name="theme-color"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta
      content="black-translucent"
      name="apple-mobile-web-app-status-bar-style"
    />
    <meta
      content="width=device-width, user-scalable=no initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
      name="viewport"
    />

    <title th:if="${#strings.isEmpty(title)}" th:text="${site.title}"></title>
    <title
      th:if="${!#strings.isEmpty(title)}"
      th:text="${title}+' - '+ ${site.title}"
    ></title>

    <th:block th:replace="~{modules/import :: import()}"></th:block>

    <th:block th:replace="~{modules/mode-toggle :: mode_toggle()}"></th:block>
  </head>
</html>
