<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <th:block th:fragment="page(content, layout)">
    <th:block th:replace="~{modules/topbar :: topbar(${layout})}" />

    <!-- TODO <div class="row{% unless has_tail %} mb-5{% endunless %}">-->
    <div class="row mb-5">
      <div id="core-wrapper" class="col-12 col-lg-11 col-xl-9 pe-xl-4">
        <div class="post px-md-2" th:switch="${layout}">
          <th:block th:case="archives">
            <h1 class="dynamic-title">归档</h1>
            <div class="post-content">
              <th:block th:replace="${content}" />
            </div>
          </th:block>
          <th:block th:case="categories">
            <h1 class="dynamic-title">分类</h1>
            <div class="post-content">
              <th:block th:replace="${content}" />
            </div>
          </th:block>
          <th:block th:case="tags">
            <h1 class="dynamic-title">标签</h1>
            <div class="post-content">
              <th:block th:replace="${content}" />
            </div>
          </th:block>
          <th:block th:case="*">
            <th:block th:replace="${content}" />
          </th:block>
        </div>
      </div>

      <th:block th:replace="~{modules/panel :: panel()}" />
    </div>
  </th:block>
</html>
