<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="panel(layout)"
  lang="en"
>
  <div class="access">
    <th:block th:replace="~{modules/widgets/update-list :: updateList()}" />
    <th:block th:replace="~{modules/widgets/trending-tags :: trendingTags()}" />
  </div>
  <div class="access-sticky">
    <th:block th:if="${layout} eq 'post'">
      <section id="toc-wrapper" class="ps-0 pe-4 mb-5">
        <h2 class="panel-heading ps-3 pt-2 mb-2">[[#{panel.contents}]]</h2>
        <nav id="toc"></nav>
      </section>
    </th:block>
    <section
      th:if="${theme.config.basics.enable_site_info}"
      class="access-links"
    >
      <h2 class="panel-heading">[[#{panel.site_info}]]</h2>
      <ul class="post-content pl-0 pb-1 ml-1 mt-2">
        <halo:footer />
      </ul>
    </section>
  </div>
</html>
