<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <!-- The Side Bar -->

  <div
    th:fragment="sidebar()"
    id="sidebar"
    class="d-flex flex-column align-items-end"
  >
    <div class="profile-wrapper">
      <a class="rounded-circle" href="/" id="avatar">
        <img
          src="https://chirpy-img.netlify.app/commons/avatar.jpg"
          th:src="${site.logo}"
          width="112"
          height="112"
          alt="avatar"
        />
      </a>

      <div class="site-title">
        <a href="/">[[${site.title}]]</a>
      </div>
      <div class="site-subtitle fst-italic">
        [[${#strings.isEmpty(site.subtitle)} ? 'A text-focused Halo theme' :
        ${site.subtitle}]]
      </div>
    </div>
    <!-- .profile-wrapper -->

    <ul
      class="nav flex-column flex-grow-1 w-100 ps-0"
      th:with="menuItems = ${menuFinder.getPrimary().menuItems}"
    >
      <!--   TODO For-->
      <li class="nav-item" th:each="menuItem : ${menuItems}">
        <a
          class="nav-link"
          th:href="@{${menuItem.status.href}}"
          th:target="${menuItem.spec.target?.value}"
          th:with="icon = ${#annotations.get(menuItem, 'icon')}"
        >
          <i
            class="fa-fw fas fa-bars-staggered"
            th:if="${#strings.isEmpty(icon)}"
          ></i>
          <i
            th:class="${'fa-fw ' + icon}"
            th:if="${not #strings.isEmpty(icon)}"
          ></i>
          <span>[[${menuItem.status.displayName}]]</span>
        </a>
      </li>

      <!-- .nav-item -->
    </ul>
    <!-- ul.nav.flex-column -->

    <div class="sidebar-bottom d-flex flex-wrap align-items-center w-100">
      <!--    {% unless site.theme_mode %}-->
      <button class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      <th:block th:if="${not #arrays.isEmpty(theme.config.sidebar.socials)}">
        <span class="icon-border"></span>
        <th:block th:each="entry : ${theme.config.sidebar.socials}">
          <a th:href="${entry.url}">
            <i th:class="${entry.icon}"></i>
          </a>
        </th:block>
      </th:block>
    </div>
    <!-- .sidebar-bottom -->
  </div>
  <!-- #sidebar -->
</html>
