<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
  <!-- The Top Bar -->
  <div id="topbar-wrapper" th:fragment="topbar(content)">
    <div
      id="topbar"
      class="container d-flex align-items-center justify-content-between h-100"
    >
      <span id="breadcrumb">
        <th:block th:replace="${content}" />
      </span>
      <!--      display none-->
      <i id="sidebar-trigger" class="fas fa-bars fa-fw"></i>
      <div id="topbar-title">
        <!--      {% if page.layout == 'home' %}-->
        <!--      {{- site.data.locales[include.lang].title | default: site.title -}}-->
        <!--      {% elsif page.collection == 'tabs' or page.layout == 'page' %}-->
        <!--      {%- capture tab_key -%}{{ page.url | split: '/' }}{%- endcapture -%}-->
        <!--      {{- site.data.locales[include.lang].tabs[tab_key] | default: page.title -}}-->
        <!--      {% else %}-->
        <!--      {{- site.data.locales[include.lang].layout[page.layout] | default: page.layout | capitalize -}}-->
        <!--      {% endif %}-->
      </div>
      <!--     .display none-->

      <i id="search-trigger" class="fas fa-search fa-fw"></i>
      <span
        class="align-items-center"
        id="search-wrapper"
        th:if="${pluginFinder.available('PluginSearchWidget')}"
      >
        <i class="fas fa-search fa-fw"></i>
        <a href="javascript:SearchWidget.open()" title="搜索">
          <input
            aria-label="search"
            autocomplete="off"
            class="form-control"
            id="search-input"
            placeholder="搜索"
            type="search"
          />
        </a>
      </span>
      <span id="search-cancel">取消</span>
    </div>
  </div>
</html>
