<!DOCTYPE html>
<html
  th:replace="~{modules/layout :: html (title = '', content = ~{::content},
   layout = 'default', breadcrumb = ~{::breadcrumb})}"
  xmlns:th="https://www.thymeleaf.org"
>
  <th:block th:fragment="breadcrumb">
    <span>[[#{breadcrumb.home}]]</span>
  </th:block>

  <th:block th:fragment="content">
    <div id="post-list" class="flex-grow-1 pe-xl-2">
      <article th:each="post : ${posts.items}" class="card-wrapper">
        <a
          th:href="@{${post.status.permalink}}"
          class="card post-preview flex-md-row-reverse"
        >
          <div
            th:if="not ${#strings.isEmpty(post.spec.cover)}"
            class="preview-img"
          >
            <img
              th:src="${post.spec.cover}"
              w="17"
              h="10"
              th:alt="${post.spec.title}"
            />
          </div>
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">[[${post.spec.title}]]</h1>

            <div class="card-text content mt-0 mb-2">
              <p>[[${post.status.excerpt}]]</p>
            </div>

            <div class="post-meta flex-grow-1 d-flex align-items-end">
              <div
                class="me-auto"
                th:with="days=${(new java.util.Date().getTime()-post.spec.publishTime.toEpochMilli())/86400000}"
              >
                <!-- posted date -->
                <i class="far fa-calendar fa-fw me-1"></i>
                <em class th:if="${days > 30}"
                  >[[${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}]]</em
                >
                <em class th:if="${days <= 30 && days > 1}"
                >[[${days}+#{date.days_ago}]]</em
                >
                <em class th:if="${days == 1}">[[#{date.yesterday}]]</em
                >
                <em class th:if="${days == 0}">[[#{date.recently}]]</em>

                <!-- categories -->
                <i class="far fa-folder-open fa-fw me-1"></i>
                <span class="categories">
                  <th:block th:each="category : ${post.categories}">
                    [[${category.spec.displayName}]]
                  </th:block>
                </span>
              </div>
              <div th:if="${post.spec.pinned}" class="pin ms-1">
                <i class="fas fa-thumbtack fa-fw"></i>
              </div>
            </div>
            <!-- .post-meta -->
          </div>
          <!-- .card-body -->
        </a>
      </article>
    </div>

    <th:block
      th:if="${posts.totalPages > 1}"
      th:replace="~{modules/widgets/post-paginator :: paginator('',${posts})}"
    />
  </th:block>
</html>
