<!DOCTYPE html>
<html
  th:replace="~{modules/layout :: html (title = ${singlePage.spec.title},
  content = ~{::content}, layout = 'default' ,breadcrumb = ~{::breadcrumb})}"
  xmlns:th="https://www.thymeleaf.org"
>
  <th:block th:fragment="breadcrumb">
    <span>
      <a href="/">首页</a>
    </span>
    <span>[[${singlePage.spec.title}]]</span>
  </th:block>

  <th:block th:fragment="content">
    <h1 data-toc-skip>[[${singlePage.spec.title}]]</h1>
    <div class="post-content">
      <th:block th:utext="${singlePage.content.content}" />
    </div>
      <!-- comments -->
      <div id="comment">
        <halo:comment
          group="content.halo.run"
          kind="Post"
          th:attr="name=${singlePage.metadata.name}"
          colorScheme="document.documentElement.getAttribute('data-mode') === 'dark' ? 'dark' : 'light'"
        />
      </div>
  </th:block>
</html>
