<!DOCTYPE html>
<html
  th:replace="~{modules/layout :: html (title = ${site.title},
  content = ~{modules/page :: page(~{::content}, 'index')})}"
  xmlns:th="https://www.thymeleaf.org"
>
<div id="page-tag" th:fragment="content">
  <h1 class="ps-lg-2">
    <i class="fa fa-tag fa-fw text-muted"></i>
    [[${tag.spec.displayName}]]
    <span class="lead text-muted ps-2"
    >[[${tag.status.visiblePostCount}]]</span
    >
  </h1>
  <ul
    class="post-content ps-0"
    th:with="posts = ${postFinder.listByTag(1,-1,tag.metadata.name)}"
  >
    <li
      class="d-flex justify-content-between px-md-3"
      th:each="post : ${posts.items}"
    >
      <a th:href="${post.status.permalink}">[[${post.spec.title}]]</a>
      <span class="dash flex-grow-1"></span>
      <span class="text-muted small"
      >[[${#dates.format(post.spec.publishTime,'yyyy年MM月d日')}]]</span
      >
    </li>
  </ul>
</div>
</html>
