<!DOCTYPE html>
<html
  th:replace="~{modules/layout :: html (title = #{breadcrumb.tags} + ': ' + ${tag.spec.displayName},
  content =~{::content}, layout = 'tag', breadcrumb = ~{::breadcrumb})}"
  xmlns:th="https://www.thymeleaf.org"
>
  <th:block th:fragment="breadcrumb">
    <span>
      <a href="/">[[#{breadcrumb.home}]]</a>
    </span>
    <span>
      <a href="/tags">[[#{breadcrumb.tags}]]</a>
    </span>
    <span>[[${tag.spec.displayName}]]</span>
  </th:block>

  <div id="page-tag" th:fragment="content">
    <h1 class="ps-lg-2">
      <i class="fa fa-tag fa-fw text-muted"></i>
      [[${tag.spec.displayName}]]
      <span class="lead text-muted ps-2"
        >[[${tag.status.visiblePostCount}]]</span
      >
    </h1>
    <ul
      class="post-content ps-0"
      th:with="posts = ${postFinder.listByTag(1,0,tag.metadata.name)}"
    >
      <li
        class="d-flex justify-content-between px-md-3"
        th:each="post : ${posts.items}"
      >
        <a th:href="${post.status.permalink}">[[${post.spec.title}]]</a>
        <span class="dash flex-grow-1"></span>
        <span class="text-muted small"
        >[[${#dates.format(post.spec.publishTime,'yyyy-MM-d')}]]</span
        >
      </li>
    </ul>
  </div>
</html>
