<!DOCTYPE html>
<html
  th:replace="~{modules/layout :: html (title = #{breadcrumb.tags}, content = ~{::content},
   layout = 'tags' ,breadcrumb = ~{::breadcrumb})}"
  xmlns:th="https://www.thymeleaf.org"
>
  <th:block th:fragment="breadcrumb">
    <span>
      <a href="/">[[#{breadcrumb.home}]]</a>
    </span>
    <span>[[#{breadcrumb.tags}]]</span>
  </th:block>

  <th:block th:fragment="content">
    <h1 class="dynamic-title">[[#{breadcrumb.tags}]]</h1>
    <div class="content">
      <div
        class="d-flex flex-wrap mx-xl-2"
        id="tags"
        th:with="tags = ${tagFinder.listAll()}"
      >
        <div th:each="tag : ${tags}">
          <a class="tag" th:href="${tag.status.permalink}">
            [[${tag.spec.displayName}]]
            <span class="text-muted">[[${tag.status.visiblePostCount}]]</span>
          </a>
        </div>
      </div>
    </div>
  </th:block>
</html>
