<!DOCTYPE html>
<html
  th:replace="~{modules/layout :: html (title = '标签', content = ~{::content},
   layout = 'tags' ,breadcrumb = ~{::breadcrumb})}"
  xmlns:th="https://www.thymeleaf.org"
>
  <th:block th:fragment="breadcrumb">
    <span>
      <a href="/">首页</a>
    </span>
    <span>标签</span>
  </th:block>

  <div
    class="d-flex flex-wrap mx-xl-2"
    id="tags"
    th:fragment="content"
    th:with="tags = ${tagFinder.listAll()}"
  >
    <div th:each="tag : ${tags}">
      <a class="tag" th:href="${tag.status.permalink}">
        [[${tag.spec.displayName}]]
        <span class="text-muted">[[${tag.status.visiblePostCount}]]</span>
      </a>
    </div>
  </div>
</html>
