/*
  Patch for Footer
*/

footer {
  p {
    width: auto;

    &:nth-child(n + 2) {
      &::before {
        content: '-';
        margin: 0 0.75rem;
        opacity: 0.8;
      }
    }
  }
}

.card-title {
  color: var(--heading-color);
}
